@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #222;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/details-bg.jpg');
  background-size: cover;
  background-position: center;
  background-color: #222;
}

header {
  background-color: #222;
  height: 15vh;
  width: 100%;
  opacity: 0.9;
  justify-items: center;
  align-content: center;
  margin: 0;
}

footer {
  height: 7vh;
  width: 100%;
  opacity: 0.9;
  margin: 0;
}

.nav-container {
  justify-items: center;
  align-content: center;
}



